<h1>Atualizar livro</h1>

<form action="/cadastrar" method="POST">
    <p>Nome do livro:</p>
    <input type="text" placeholder="título do livro" name="nome">

    <p>Descrição:</p>
    <input type="description" placeholder="descrição" name="descricao">

    <p>Categoria:</p>
    <input type="text" placeholder="categoria" name="categoria">

    <p>Preço:</p>
    <input type="number" placeholder="R$50,00" name="preco">

    <p>Quantidade disponível:</p>
    <input type="number" placeholder="60" name="qnt_disponivel">

    <button type="submit">Atualizar</button>
</form>